# farmil23/farmile/Farmile-4126b32981584cc2df34694a4edc3d5e80a1a749/requirements.txt

Flask
Flask-Login
Flask-SQLAlchemy
Flask-Migrate
Flask-Admin
Authlib
byteplus-python-sdk-v2
PyPDF2
gunicorn
psycopg2-binary
APScheduler
pytz
httpx
python-dotenv
requests
beautifulsoup4
lxml
WTForms
greenlet