{% extends 'admin/master.html' %}
{% block body %}
  <h1>Dashboard Analitik Farmile</h1>
  <p class="lead">Ringkasan aktivitas pengguna dan penggunaan fitur di platform.</p>

  <div class="row" style="margin-top: 2rem;">
    <div class="col-md-6">
      <h3>Statistik Penggunaan Fitur</h3>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Fitur (Aksi)</th>
            <th>Jumlah Penggunaan</th>
          </tr>
        </thead>
        <tbody>
          {% for action, count in feature_usage %}
          <tr>
            <td>{{ action }}</td>
            <td>{{ count }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <h3>10 Pengguna Paling Aktif</h3>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Nama Pengguna</th>
            <th>Jumlah Aktivitas</th>
          </tr>
        </thead>
        <tbody>
          {% for user_name, total_activities in top_users %}
          <tr>
            <td>{{ user_name }}</td>
            <td>{{ total_activities }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row" style="margin-top: 2rem;">
    <div class="col-md-12">
        <h3>10 Materi Paling Sering Dilihat</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Judul Materi</th>
                    <th>Jumlah Dilihat</th>
                </tr>
            </thead>
            <tbody>
                {% for lesson_title, view_count in top_lessons %}
                <tr>
                    <td>{{ lesson_title }}</td>
                    <td>{{ view_count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
{% endblock %}