<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title|default('FARSIGHT') }} - FARSIGHT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('routes.index') }}" class="header-link">FARSIGHT MVP</a></h1>
        <nav>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('routes.profile') }}">Profil</a>
                <a href="{{ url_for('routes.logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('routes.login') }}">Login</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Farsight Project by Farhan Kamil Hermansyah</p>
    </footer>
</body>
</html>