{% extends "base.html" %}

{% block content %}
    <div class="paths-container">
        <h2>Pilih Jalur Karier Anda</h2>
        <p>Pilih salah satu jalur di bawah ini untuk memulai proyek pertama Anda.</p>
        
        <div class="path-cards">
            {% for path in paths %}
            <a href="{{ url_for('routes.project', path_name=path.id) }}" class="card-link">
                <div class="card">
                    <h3>{{ path.title }}</h3>
                    <p>{{ path.desc }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}